
{% extends "layout.html" %}
{% block body %}

    <!-- Header -->
    <header class="imgcontainer text-center align-vertically">
        <div>
            <div>
                {% for document in wine %}
                    <div class="img-header mt-lg-0">
                        <h5 class="hero-subheading">{{ document.wine_name }}, {{ document.vintage }}</h5>
                    </div>
                    <div>
                        <img class="wine_img_lg" alt="wine image" src="{{ document.photo_url }}">
                    </div>
                {% endfor %}
            </div>
            <div class="wine_btn">
                <a href="#browse" 
                    class="btn btn-blue btn-small btn-xl rounded-pill p-0 ml-auto mr-auto align-vertically" 
                    onclick="window.history.back(); return false;">
                    Back
                </a>
            </div>
        </div>
    </header>

{% endblock %}